.image1 {
    width: 70%;
    margin: 0 auto;
    border-radius: 50%;
}

.cards001 {
    text-align: start;
    border: 3px solid black;
    padding: 20px;
}

.ahref {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.row {
    padding: 10px;
}

.cb2 {
    text-align: center;
}